.benefists {
    padding: 70px 0 65px 0;
    background-color:#F6F6F6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__descr {
        width: 277px;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
    }
    &__subheader {
        margin-top: 35px;
    }
    &__subheader {
        font-size: 18px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
    }
    &__img {
        &_animated {
            animation: heartbeat 1.5s ease-in-out infinite;
            &:hover {
                animation:paused;
            }
        }
    }
}
